astroid==1.4.1
beautifulsoup4==4.4.0
colorama==0.3.5
coverage==4.0.3
Flask==0.10.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.1
Markdown==2.6.5
MarkupSafe==0.23
py==1.4.31
pylint==1.5.1
pymongo==3.1
pytest==2.8.2
pytest-cov==2.2.0
requests==2.7.0
six==1.10.0
Werkzeug==0.11.3
wrapt==1.10.6
WTForms==2.1
