body {
	padding: 10px;
	margin: auto;
	width: 750px;
}

input{
	width: 175px;
	height: 25px;
	padding: 0 5px;
}

form {
	width: 650px;
	height: 350px;
}

div .text-input {
	heigth: 300px;
	width: 300px;
}

div .text-input textarea {
	height: 300px;
	width: 300px;
}

div .file_input {
	padding: 10px 0;
}