h1 a{
    font-size: 48px;
    color: black;
    text-decoration: none;
}

h1 a.visited{
    color: black;
    text-decoration: none;
}

h1 {
font-family: 'Playball', cursive;
}

div#link_input {
    float: left;
}

textarea {
    width: 85%;
    height: 150px;
}

div {
    padding: 5px;
    width: 800px;
    margin: auto;
    }

div#title_wrapper {
    margin-top: 35px;
    }

div#content_wrapper {
}
div#footer {
    padding-right: 100px;
    text-align: center;
    margin-top: 150px;
}
.disclaimer {
   font-size: 14px;
   }

div#footer a  {
    color: black;
    text-decoration: none;
}

div#footer a:hover  {
    text-decoration: underline;
}

hr {
    width: 650px;
}
