h1 a{
    font-size: 48px;
    color: black;
    text-decoration: none;
}

h1 a.visited{
    color: black;
    text-decoration: none;
}

h1 {
font-family: 'Playball', cursive;
}

div#link_input {
    float: left;
}

textarea {
    width: 75%;
    height: 150px;
}

div {
    padding: 5px;
    width: 800px;
    margin: auto;
    }

div#title_wrapper {
    margin-top: 35px;
    }

div#content_wrapper {
    width: 800px;
}

input#chat_submit {
}

