div#links_detected {
    float: right;
    width: 300px;
    margin-right: 125px;
    border: 1px solid;
    padding: 10px;
    }


div#shownote_information {
    float: left;
    width: 325px;
    padding: 10px;
    }
