{% extends 'base.html' %}
{% block content %}
<h1>What is Shownoter</h1>

<p><em>Shownoter</em> checks your chat or text for links and returns them to you to help create "shownotes".</p>

<p><em>Shownoter</em> will help you find links from group chats, podcasts interviews, and website articles.</p>

<p><b>**<em>Shownoter</em> is still in beta. Please do not rely on Shownoter to preserve shownotes data.**</b></p>

<h1>Special Thanks to Our Contributors</h1>
<ul>
{% for contributor in contributors %}
<li><b>{{contributor[0]}}</b> - {{contributor[1]}}</li>
{% endfor %}
</ul>
To become a contributor please visit <a href="http://trello.com/b/jlyUZ0ml/shownoter">here</a>.
{% endblock %}
