{% extends 'base.html' %}
{% block content %}
<h1>What is Shownoter</h1>

<p><em>Shownoter</em> checks your chat or text for links and returns them to you to help create "shownotes".</p>

<p><em>Shownoter</em> will help you find links from group chats, podcasts interviews, and website articles.</p>

<p><b>**<em>Shownoter</em> is still in beta. Please do not rely on Shownoter to preserve shownotes data.**</b></p>

<h1>Special Thanks to Our Contributors</h1>
CodeNewbie PythonThursday Community - for helping discover the problem.
Phillip Gray - For tying in the IronCoder that helped get a lot of this work finished.
Jamal Hansen - For making Shownoter Team Testing Goat Approved
Jonathan Colon - For the free therapy session and database debates
Derek Gustafson - For being a great rubber duck and getting us setup with Travis-CI 

{% endblock %}
