<html>
<head> <title>ShowNoter - Fast Link Finding and Formatting</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/normalize.css">
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div id="loading"></div>
<div class="main-wrapper">
<header><h1>Shownoter.co - Alpha</h1></header>
<div class="content-main"
{% block content %}

{% endblock %}
</div>
<footer>Shownoter.co was created by <a href="https://github.com/kjmsystems">KJMSystems</a>. <a href="https://twitter.com/kjaymiller">Follow KJayMiller on Twitter</a>
</div>
</body>
</html>

