<html>
    <head>
        <title>Shownoter.co - Beta</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="title_wrapper">
        <h1><a href="http://localhost:5000">Shownoter.co - Beta</a></h1>
        </div>

        <div id="content_wrapper">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %} 
                    <div> 
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <hr/>
            <a href="{{url_for('about')}}">About</a> | <a href="{{url_for('report')}}">Report</a>
            <p class="disclaimer"><em>Shownoter</em> is managed by <a href="https://twitter.com/kjaymiller">kjaymiller</a>. For contribution information/issue reports, <a href ="https://trello.com/b/jlyUZ0ml/shownoter">Click Here</a>.</p>
            <p class="disclaimer"><em>Shownoter</em> is Licensed Under the Apache License, Version 2.0.</br>
        Please visit <a href="http://www.apache.org/licenses/LICENSE-2.0.html">http://www.apache.org/licenses/LICENSE-2.0.html</a> for more information. </p> 
        </div>
    </body>
</html>

