<html>
    <head>
        <title>Shownoter.co - Beta</title>
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>
        <h1><a href="http://localhost:5000">Shownoter.co - Beta</a></h1>
        <em>Please Note that Changes are frequent at this time do not store any data as database may be destroyed!</em>
        <div id="content_wrapper">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %} 
                    <div> 
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </body>
</html>

