{% extends "base.html" %}
{% block content %}
<div id="link_input">
       <form action="" method="post" name="EnterText" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <p><h2>Enter Chat Text Here:</h2>
            {{form.chat_input}} </p>
            <p>{{form.file_input}} </p>
            <p><input id="chat_submit" type="submit" value="Submit"></p>
        </form>
    </div>        
    <div id="stats">
        Total Number of Shownotes: {{stats['total_shownotes']}}<br>
        Total Number of Links:{{stats['total_links']}}<br>
        Last Five Shownotes:
        <ul>
        {% for result in stats['last_five'] %}
        <li><a href="/results/{{result[1]}}">{{result[0]}}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
