<html>
    <head ><title>Shownoter - Get Links from Chats Fast</title></head>
    <body>
    This is a test
    <div class="form">
        <form action="" method="post" name="chat input">
        {{ form.hidden_tag() }}
        <p>
            Please Enter your Text Here:
            {{ form.chat_text() }}
            </p>
        <p><input type="submit" value="Sign In"></p>
    </div>
    {% if results %}
    <div class="results">
        {% for line in results %}
        {{ line }}<br/>
        {% endfor %}
    </div>
    {% endif %}
    {%if bad_links %}
    <div class="bad_links">
        <p>We came across some potential sites that we couldn't find (Or it was taking too long</p>
        {% for line in bad_links %}
        {{ line }}<br/>
        {% endfor %}
    </div>
    {% endif %}

    </body>
</html>

