{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/links.css">
<div id="shownote_information">
<form action="" method="post" name="EnterText">
    {{form.hidden_tag()}}
    <p><h2>Enter the Title of your shownotes</h2>
    {{form.title}} </p>
    <p><h2>Enter any description or other text for your notes</h2>
    {{form.description}}</br>
    <em>supports markdown</em>
    </p>
    <p><input type="submit" value="Submit"></p>
</form>    
</div>

<div id="links_detected">
    <h2>Links Detected</h2>
    {% for link in links %} 
    {% if link['is_image'] %}
    <a href="{{link['url']}}" target="_blank">Click Here to View Image</a>
    {% else %}
    <a href="{{link['url']}}" target="_blank">{{link['title']}}</a>
    {% endif %}
    <br>
    {% endfor %}
    

{% endblock %}
